[submodule "client"]
	path = client
	url = git@github.com:SunderShadow/outsource_festival-cosmos_client.git
[submodule "server"]
	path = server
	url = git@github.com:SunderShadow/outsource_festival-cosmos_server.git
